# Prerequisite Files
*.d

# Build Directories
/Binaries/
/Intermediates/
/.idea/

/.vs/
*.vcxproj
*.user
*.filters
*.pyc
*.sln
*.DotSettings
*.tlog
*.idb


# Compiled Object Files
*.o
*.obj
*.slo
*.lo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic Libraries
*.dll
*.so
*.dylib

# Compiled Static Libraries
*.lib
*.a
*.lai
*.la

# Fortran Module Files
*.mod
*.smod

# Executable Files
*.out
*.app
*.idb
*.tlog
*.pdb
*.idb
